.page-header {
	background-color: black; 
	color: white;
	width: 100%;
	clear: both;
	text-align:center;
	max-height: 15%;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-size: contain;
	
  }
   
/* this is header links css */
  a:link, a:visited {
	background-color:black;
	color: white;
	padding: 35px 25px;
	text-align: right;
	text-decoration: none;
	display: inline-block;
	/* background-image: url(../images/logo.png); */
  }
  
  a:hover, a:active {
	/* background : purple; */
	color:purple;
  }

  #logo {
	display:flex;
	background:url(../images/logo.png) 0 0 no-repeat;
	text-align: center;
	widows: 230px;
	height:80px;
	/* text-indent:-9999px */
}

  /* #logo {
	display:block;
	background:url(../public/logo.png) 0 0 no-repeat;
	width:276px;
	height:94px;
	text-indent:-9999px
} */

