.page-header {
	background-color: black; 
	color: white;
	width: 100%;

	
	clear: both;
	text-align:right;
	/* background-size: auto; */
	/* top:0;
	left:0; */
	max-height: 15%;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	/* position: relative;  */
	 background-size: contain;
	/*background-repeat: no-repeat; */
	/* background-size: 300px 100px; */
	
	
    /* float: left;
    margin-left: 0;
    width: 100%;
	display: block; */
	

  }
   
/* this is header links css */
  a:link, a:visited {
	background-color:black;
	color: white;
	padding: 35px 25px;
	text-align: right;
	text-decoration: none;
	display: inline-block;

  }
  
  a:hover, a:active {
	background-color: purple;
  }

  /* #logo {
	display:block;
	background:url(../public/logo.png) 0 0 no-repeat;
	width:276px;
	height:94px;
	text-indent:-9999px
} */