body {
  min-height: 100%;
  height: 100%;

}

.main {
	margin:0 auto;
	width:916px;
}


.container { 
width: 100%;
height:100%;
margin: 0;
box-sizing: border-box;
position: relative;
min-height: 100%;
padding-bottom: 80px;

}

.row{
  max-width: 100%;
  display: table;
  clear:both;
 
  letter-spacing: 1px;
  margin: 20px 0;
  padding: 5px;
  width: 75%;
  margin: 0 auto;
  height: 100%;

}

h2 {
	font-size:35px;
	line-height:1.2em;
	color:black;
	padding:1px 0 17px 10px;
  letter-spacing:-1px;
  font:26px 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}
h2 span {
	color:#13c5ff
}

.wrapper {
	width:60%;
  padding:0 20%;
  overflow:hidden;
  text-align: justify;
  text-justify: inter-word;
  font:14px 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height:20px;
  
}

.philosophyPage{
  margin:0;
  padding:0;
  text-align: center; 
}

.paragraph_aligh_right{
  width: 50%;
  float:right;
}

.columnLeft{
  float: left;
  padding: 0px;
  height: max-content;
  width: 25%;  
  align-content: flex-start;
  
}
.columnRight{
  float: left;
  height: max-content;
  width: 70%;
  text-align: justify;
  text-justify: inter-word;
  font:14px 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height:20px;
  
}
.headerAboutme{
  float: left;
  padding: 0px;
  height: max-content;
  width: 25%;
  text-align: right;
  margin-left: 3.5%;
  font-size: 40px;
  font:34px 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* new code Dec 2 */
.gallery-area {
  padding-top: 100px;
  padding-bottom: 70px;
  background-color: #f5f5f5;
  
}
.single-image {
  text-align: center;
  position: relative;
  margin-bottom: 30px;

 
}
.single-image img {
  max-width: 100%;
  
}
.single-image::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-transition: .4s;
  transition: .4s;
  
  
}
.single-image a {
  position: absolute;
  left: 0;
  top: 50%;
  right: 0;
  margin: 0 auto;
  font-size: 30px;
  color: #ffffff;
  opacity: 0;
  visibility: hidden;
  margin-top: -20px;
  -webkit-transition: .4s;
  transition: .4s;
  -webkit-transform: scale(0);
          transform: scale(0);
  font-size: 20px;
  
 
}
.single-image a:hover {
  color: red;
  text-decoration: none;
}
.single-image:hover::before {
  visibility: visible;
  opacity: .8;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.single-image:hover a {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}


.rowPorfolio{
 
    max-width: 100%;
    display: flex;
    align-items: space-between;
    
}
  
    /* .roundabout-holder {
      height:5em;
    }
    .roundabout-moveable-item {
      cursor:pointer;
      width:636px;
      height:478px;
      margin-top:229px;
      padding-bottom:20px
    }
    .roundabout-in-focus {
      cursor:auto;
    }
    #gallery {
      position:relative;
      height:120px
    }
    #gallery img {
      display:block;
      width:30%;
      height:30%
    }
    /* #gallery li {

    } */ */

    .relative {
      position:relative
    }

    .carousel-wrapper {
      position: initial;
      height: 380px;
      width: 800px;
      margin: auto;
      display: flex;
      overflow:hidden;
      box-sizing: border-box;
      transform-style: preserve-3d;    
      border-radius: 10px;      
    }


    .carousel__photo {
      opacity: 0;
      position: absolute;
      top:0;
      width: 100%;
      margin: auto;
      padding: 1rem 4rem;
      z-index: 100;
      transition: transform .5s, opacity .5s, z-index .5s;
    }


    .imgframe
    { background: rgb(212, 207, 207);
    padding:30px;
    border:1px solid #999; }

    .col1 {
      width: 50%;
      padding: 0px;
      text-align: left;
      font-style: normal;
      font-family: 14px 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      align-content: stretch;
      font-weight:normal;
      padding-bottom: 80px;
    
    }

    .col2 {
      padding: 0px;
      width: 50%;
      font-family: 14px 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      align-content: stretch;
      text-align:left;
      vertical-align: top;
      font-weight:normal;
      padding-bottom: 80px;
     
    }

    #homeTable{
      margin-left: auto;
      margin-right: auto;
      width: 800px;
      padding:0 5px;
      font-family:14px 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      text-align:center;
      vertical-align: top;
    
      padding: 1rem 4rem;
      
      
    }
    .pad {
      padding:0 10px
    }
    
    .textwrapper {
      width:100%;
      /* overflow:hidden */
      align-content: center;
    }

    #sectioncontent {
      align-content: center;
      width: 100%;
    }
    .pad_left1 {
      padding-left:67px
    }
  
 .contactMe{
   background-color: lightgray;
 }

 .logo {
	align-content: center;
  widows: 200px;
	height:70px;
	
}


