body {
  min-height: 100%;
  height: 100%;
	background-position:center 164px;

}

.main {
	margin:0 auto;
	width:916px;
}
.container {
  /* max-width: 1080px; */
  /* margin: 0 auto; */
  
width: 100%;
  /* display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr 3fr;
  grid-template-areas:
    "header user"
    "main main"
    "footer footer";
  row-gap: var(--large-size);
  column-gap: var(--large-size); */
}

h2 {
	font-size:35px;
	line-height:1.2em;
	color:black;
	padding:1px 0 17px 10px;
  letter-spacing:-1px;
  font:26px Arial, Helvetica, sans-serif;
  text-align: center;
}
h2 span {
	color:#13c5ff
}

.wrapper {
	width:60%;
  padding:0 20%;
  overflow:hidden;
  text-align: justify;
  text-justify: inter-word;
  font:15px Arial, Helvetica, sans-serif;
  line-height:20px;
  
}


.philosophyPage{
  margin:0;
  padding:0;
  text-align: center; 
}
/* .image_left_align{
  float:left;  
  
} */

.paragraph_aligh_right{
  width: 50%;
  float:right;
}

.columnLeft{
  float: left;
  padding: 0px;
  height: max-content;
  width: 25%;
  
  
  align-content: flex-start;
}
.columnRight{
  float: left;
  height: max-content;
  width: 75%;
  text-align: justify;
  font:14px Arial, Helvetica, sans-serif;
  
  
 
}

.headerAboutme{
  float: left;
  padding: 0px;
  height: max-content;
  width: 25%;
  text-align: right;
  margin:0px;
  font-size: 40px;
  font:34px Arial, Helvetica, sans-serif;
  
}

.row{
  max-width: 100%;
  display: table;
  clear:both;
  /* align-content: center;
  display: flex;
  justify-content: center; */
  letter-spacing: 1px;
  margin: 20px 0;
  padding: 5px;
  width: 70%;
  margin: 0 auto;
  






}

/* new code Dec 2 */
.gallery-area {
  padding-top: 100px;
  padding-bottom: 70px;
  background-color: #f5f5f5;
}
.single-image {
  text-align: center;
  position: relative;
  margin-bottom: 30px;
}
.single-image img {
  max-width: 100%;
}
.single-image::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-transition: .4s;
  transition: .4s;
}
.single-image a {
  position: absolute;
  left: 0;
  top: 50%;
  right: 0;
  margin: 0 auto;
  font-size: 30px;
  color: #ffffff;
  opacity: 0;
  visibility: hidden;
  margin-top: -20px;
  -webkit-transition: .4s;
  transition: .4s;
  -webkit-transform: scale(0);
          transform: scale(0);
  font-size: 20px;
}
.single-image a:hover {
  color: red;
  text-decoration: none;
}
.single-image:hover::before {
  visibility: visible;
  opacity: .8;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.single-image:hover a {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.columnPortfolio {
  float: right;
  width: 33.33%;
  padding: 5px; 
  
}

.rowPorfolio{
  content: "";
  clear: both;
  display: table;
  width:100%;
  display: flex;
 
}

